*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.adviceBox{
    height: auto;
    width: 100%;
     font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.85);
  font-style: normal;
    padding: 30px;
     border-radius: 15px;
  border: 1.5px solid rgba(255, 255, 255, 0.226);
  contain: paint;
}

@media(max-width: 600px){
    .adviceBox{
        padding: 20px;
        font-size: 14px;
}
}

@media(max-width: 500px){
    .adviceBox{
        padding: 20px;
        font-size: 13px;
}
}