*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.userInfoCard{
    padding: 10vh;
    padding-left: 5vh;
    padding-right: 5vh;
    font-size: 100px;
    height: auto;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.121);
    display: flex;
}

.card1Left{
    width: 50%;
    height: auto;
    background-color: red;
}

.card1Right{
    width: 50%;
    height: auto;
    background-color: green;
}

.progressBar{
    background-color: blue;
    font-weight: 900;
   
    overflow: hidden;
}

.progressBar {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.progressBar svg {
    width: 100%;
    height: 100%;
    display: block;
}
