*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.info{
    width: 100%;
    height: 100vh;
    padding-top: 10vh;
}

.infoHeading1{
    height: 20vh;
    font-size: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
     font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  color: rgba(255, 255, 255, 0.772);
  font-style: normal;
}


@media(max-width:600px){
    .infoHeading1{
        font-size: 40px;
    }
}

.infoUserAcc,.infoFriendAcc{
    font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 15px;
    height: 10vh;
    display: flex;
    align-items: end;
    padding: 10px;
    color: rgba(255, 255, 255, 0.918);
    padding-left: calc(50% - 150px);;
}

.infoInput1,.infoInput2{
    font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 15px;
    padding: 10px;
    height: 8vh;
    margin-left: calc(50% - 150px);
    width: 300px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.231);
}

.infoInput1:focus{
    border: 1px solid rgba(0, 255, 42, 0.454);
    outline: none;
}

.infoSubmitButton{
    font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 20px;
    margin-left: calc(50% - 150px);
    width: 300px;
    height: 8vh;
    background-color: rgb(255, 255, 255);
    margin-top: 40px;
    border-radius: 10px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer
}


