*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.landingPage{
    height: 100vh;
    width: 100%;
    background-color: black;
}

.codeForgeBox{
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 1000;
    font-size: 150px;
    height: 50vh;
    padding-top: 30vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0px 0px 1px white;
    transition: 0.5s ease-out;
}
.forge{
    transition: 0.3s ease-out;
    color:#ff0000;
    text-shadow: 0px 0px 1px #ff0000;
}

.codeForgeBox:hover{
    color:#ff0000;
    .forge{
        color: white;
}



}


.tagline{
    height: auto;
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
    color: rgba(255, 255, 255, 0.744);
     font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-size: 22px;
  padding-top: 5vh;
}

.epsilonDeltaText{
    display: inline-block;
    color: rgb(0, 85, 255);
    font-weight: 1000;
}



@media(max-width: 1250px){
    .codeForgeBox{
        font-size: 100px;
    }

    .tagline{
        font-size: 20px;
        padding-top: 2vh;
        padding-left: 15%;
        padding-right: 15%;
    }
}

@media(max-width: 800px){
    .codeForgeBox{
        font-size: 80px;
        height: 45vh;
    }

    .tagline{
        padding-top: 0vh;
        font-size: 18px;
        padding-left: 10%;
        padding-right: 10%;
    }
}


@media(max-width: 600px){
    .codeForgeBox{
        font-size: 60px;
    }
}



@media(max-width: 450px){
    .codeForgeBox{
        font-size: 50px;
    }
}
