*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    color: white;
}



.progressPallete{
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
    height: 100%;
   width: 100%;
   display: flex;
   border-radius: 15px;
  border: 1.5px solid rgba(255, 255, 255, 0.226);
  contain: paint;
}


