*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    color: white;
}



.progressPallete{
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
    height: 100%;
   width: 100%;
   display: flex;
   border-radius: 15px;
   color: rgba(255, 255, 255, 0.701);
  border: 1.5px solid rgba(255, 255, 255, 0.226);
  contain: paint;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  padding: 20px;
  font-weight: 900;
  text-align: center;
}

@media(max-width: 500px){
  .progressPallete{
    font-size: 18px;
  }
}
