*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}



.ratingPallete{
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
    height: auto;
   width: 100%;
   display: flex;
   border-radius: 15px;
  border: 1.5px solid rgba(255, 255, 255, 0.226);
  contain: paint;
  background-color: rgb(15, 14, 14);
  color: white;
}

.ratingPalleteHeading{
    color: rgba(255, 255, 255, 0.41);
    font-size: 18px;
    font-weight: 1000;
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.ratingBoxContainer{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.ratingBoxContainerLevel{
    margin: 10px;
    height: auto;
    width: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
}

.ratingBox{
    height: auto;
    width: auto;
    min-width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1.5px solid rgba(255, 255, 255, 0.226);
    contain: paint;
    border-radius: 5px;
    font-weight: 800;
    font-size: 15px;
    cursor: pointer;
    border: 1.5px solid rgba(139, 255, 62, 0.406);
    transition: 0.3s ease-out;
    padding-left: 20px;
    padding-right: 20px;
}


.ratingBoxSelected{
    background-color: rgba(130, 255, 130, 0.219);
    height: auto;
    width: auto;
    min-width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1.5px solid rgba(139, 255, 62, 0.829);
    contain: paint;
    border-radius: 5px;
    font-weight: 800;
    font-size: 15px;
    cursor: pointer;
     transition: 0.3s ease-out;
    padding-left: 20px;
    padding-right: 20px;
}



