*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}



.selectRandom{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 20vh;
    padding-top: 10vh;
}


.selectRandomHeading{
    height: auto;
    width: 100%;
    padding: 20px;
    color: rgba(255, 255, 255, 0.936);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
       font-family: "Montserrat", sans-serif;
     font-weight: 600;
     font-size: 50px;
}

@media(max-width: 800px){
    .selectRandomHeading{
        font-size: 40px;
    }
}



@media(max-width: 600px){
    .selectRandomHeading{
        font-size: 30px;
    }
}

@media(max-width: 450px){
    .selectRandomHeading{
        font-size: 22px;
          padding-bottom: 30px;
    }
}


.selectRandomCardArea{
    height: auto;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    justify-content: space-evenly;
    
}

.selectRandomCard{
    height: auto;
    width: auto;
    display: flex;
    padding: 20px;
    display: flex;
    border: 1.5px solid rgba(255, 255, 255, 0.226);
    border-radius: 10px;
    background-color: rgb(15, 14, 14);
    transition: 0.5s ease-out;
}



.selectRandomCard:hover{
    border: 1px solid rgba(255, 255, 255, 0.445);

}

.photoAreaRandom{
    height: 80px;
    width: 80px;
}

.photoAreaRandom img{
    height: 80px;
    width: 80px;
    border-radius: 100%;

}

.infoAreaRandom{
    width: 250px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
}




.handleRandom{
    cursor: pointer;
    color:#0e62ff;
       font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
    padding-bottom: 10px;
    font-size: 18px;
    display: flex;
    justify-content: center;
}

.rankRandom{
       font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    font-size: 13px;
    color: #ff0000;


}

@media(max-width: 1000px){
    .selectRandomCard{
        flex-direction: column;
        padding: 0px;
    }

    .photoAreaRandom{
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

   .infoAreaRandom{
    padding-bottom: 20px;
   }
}

.buttonSelectRandom{
    height: auto;
    display: flex;
    justify-content: space-evenly;
     font-family: "Montserrat", sans-serif;
     font-weight: 600;
     font-size: 12px;
     
}

.epsilonRandom{
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: black;
    border: 1px solid rgba(255, 255, 255, 0.208);
    border-radius: 5px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.708);
    transition: 0.3s ease-in-out;

}

.epsilonRandom:hover{
    border: 1px solid rgba(255, 255, 255, 0.619);
    color: white;
}

.deltaRandom{
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid rgb(0, 0, 0);
    cursor: pointer;
    background-color: black;
    border: 1px solid rgba(255, 255, 255, 0.208);
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.708);
    transition: 0.3s ease-in-out;
}

.deltaRandom:hover{
    border: 1px solid rgba(255, 255, 255, 0.619);
    color: white;
}





